// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.img-project {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-item {
  align-items: center;
}

.project-gif, .project-content {
  position: relative;
  width: 50%;
}

.project-link-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-gif:hover .img-project {
  opacity: 0.3;
}

.project-gif:hover .project-link-container {
  padding: 10px;
  background: $red;
  a {
    color: white;
  }
  border-radius: 10px;
  opacity: 1;
}



.list-inline-item {
  text-align: center;
  p {
    padding-top: 5px;
    font-size: 12px;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  img{
    max-height: 40px;
  }
}

.resume-content {
  .education-title{
      align-items: center;
      align-content: center;
    }
  .education-logo {
    height: 20px;
    margin-top: -5px;
    margin-right: 10px;
    -webkit-filter: grayscale(1);
    &:hover{
      filter: none;
      -webkit-filter: grayscale(0);
    }
  }
}
.list-inline-item {
  -webkit-filter: grayscale(1);
  &:hover{
    filter: none;
    -webkit-filter: grayscale(0);
  }
}

.uber {
  background: $red-opacity;
  border-radius: 4px;
  padding: 1px 4px;
  color: white;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}
